header {
    display: table;
    height: 100%;
    width: 100%;
}
header .content {
    color: white;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
header .content img {
    border: 2px solid;
}
.header-img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.non-blur-img {
    opacity: 0;
}
.icons i {
    color: white;
    font-size: 30px;
    padding: 0 15px 0 15px;
}
.icons i:hover {
    color: orange;
}
.location-label {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom:100px;
    color: white;
}
section .title {
    margin: 0;
    padding: 40px 0 60px 0;
    text-align: center;
    background-color: white;
}
#about {
    text-align: center;
}
#skills .content {
    color: white;
    background: url(../images/code-blur.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    background-size: cover;
}
.progress {
    max-width: 400px;
}
.skills-content {
    text-align: left;
}
.keys {
    padding-bottom: 20px;
}
footer {
    text-align: center;
    padding: 60px 0 40px 0;
    background: #2a2730;
    color: #99979c;
}
.project-item {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 551px;
    vertical-align: middle;
}
.project-item-image {
    text-align: center;
    max-width: 100%;
    height: 305px !important;
    padding: 2px;
}
.project-caption {
    font-size: 16px;
    padding: 0 20px 20px 20px;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: scroll;
}
.project-caption small {
    color: #eee;
}
@media (max-width: 992px) {
    .img-clear {
        background: url(../images/background-sm.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .non-blur-img {
        background: url(../images/background-blur-sm.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .project-item-image {
        border-bottom: 1px solid #eee;
    }
}
@media (min-width: 992px) {
    .img-clear {
        background: url(../images/background.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .non-blur-img {
        background: url(../images/background-blur.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        background-size: cover;
    }
    .project-item {
        border: 2px solid #eee;
    }
    .project-caption:hover {
        background-color: #2a2730;
        opacity: 0.90;
    }
}
